$color: rgb(223, 105, 81);

%nav__fonts {
    font-family: GoogleSans;
    font-size: 1.1rem;
    color: #212832;
}

header {
    width: 100%;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 3rem 0 0 8.8rem;

    a {
        @extend %nav__fonts;
    }
}

.nav__logo {
    width: 20%;
}

.nav__bar {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.nav__items {
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;   
}

.nav__item a:hover {
    color: $color;
    text-shadow: 0px 15px 30px rgba(223, 105, 81, 0.5);
    border-bottom: 3px solid $color;
    transition: .2s ease-in;
}

.sign {
    padding: .5rem 1.4rem;
    border: 1px solid #212832;
    border-radius: 5px;
    background: transparent;

    &:hover {
        border-color: $color;
        color: $color;
        box-shadow: 2px 2px 2px $color;
        transition: .2s ease-in;
    }
}

.nav__lang {
    @extend %nav__fonts;
    border: none;
    outline: none;
    background: transparent;

    &:hover {
        color: $color;
        text-shadow: 0px 15px 30px rgba(223, 105, 81, 0.7);
        transition: .2s ease-in;
    }
}
