$color: #DF6951;

.hero {
    position: relative;
}

.hero__decore {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    position: absolute;
    top: 105px;
    left: 148px;
}

.hero__content-text {
    margin-top: 112px;
    width: 545px;

    .hero__suptitle {
        text-transform: uppercase;
        font-family: Poppins;
        font-weight: bold;
        font-size: 1.3rem;
        color: $color;
    }
    
    .title {
        font-family: Volkhov;
        font-weight: bold;
        font-size: 84px;
        line-height: 89px;
        letter-spacing: -0.04em;
    
        margin: 0;
        color: #181E4B;
    }
    
    .hero__text {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    
        color: #5E6282;
        width: 377px;
        margin: 30px 0;
    }
}



.hero__buttons {
    display: flex;
    align-items: center;

    a {
        font-family: Google Sans;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;

        color: #fff;
    }

    .hero__more {
        padding: 19px 27px;
        background-color: #F1A501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.3);
        border-radius: 10px;
        margin-right: 44px;

        &:hover {
            background-color: #f5b325;
            box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.4);
        }
    }

    .hero__demo {
        display: flex;
        align-items: center;
    }

    .demo__play {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 21px;

        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #DF6951;
        box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);

        &:hover {
            background-color: #f7775d;
            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.4);
        }

        img {
            margin-left: 3px;
        }
    }

    .demo__text {
        color: rgb(104, 109, 119);

        &:hover {
            text-shadow: 0px 15px 30px rgba(104, 109, 119, 0.8);
        }
    }

}

