@import 'fonts';

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;

    .header__decor {
        width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: space-between;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        .decor__left {
            width: 100vh;
            height: 100vh;
            background: {
                image: url('@img/hero/Ellipse_8.png');
                repeat: no-repeat;
                position: top left;
            };   
        }
    
        .decor__right {
            width: 100%;
            height: 100vh;
            background: {
                image: url('@img/hero/Decore.png');
                repeat: no-repeat;
                position: top right;
            };
        }
    
    }
    
    a {
        text-decoration: none;
    }

    main {
        margin-left: 8.8rem;
    }

}

@import "header";
@import "hero";






