.testimonials {
    margin: 8.2rem 4rem 0 8.8rem;
}

.testimonials__wrapper {
    display: flex;
    justify-content: space-between;

    .testimonials__header {
        width: 50%;
        margin-right: 2rem;

        &-dots {
            display: flex;
            justify-content: space-between;
            width: 87px;
            height: 12px;
            margin-top: 82px;

            .dot {
                border-radius: 50%;
                background: #E5E5E5;
                width: 12px;
            }

            .dot__active {
                background: #39425D;
            }
        }
    }

    .testimonials__content {
        position: relative;
        width: 60%;

        &-image {
            position: absolute;
            top: -40px;
            left: -35px;

            width: 68px;
            height: 68px;

            border-radius: 50%;
            overflow: hidden;

            img {
                width: 68px;
            }
        }

        &-text {
            line-height: 32px;
        }

        &-name {
            margin-top: 2rem;
            font-weight: 600;
        }

        &-location {
            margin-top: 0.4rem;
        }

        &-container {
            width: 90%;
            padding: 1.75rem 4.25rem 2rem 2rem;

            background: #FFFFFF;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            border-radius: 10px;

            &:nth-child(2) {
                position: absolute;
                top: 90px;
                left: 50px;
                z-index: -1;
    
                border: 2px solid #F7F7F7;
            }
    
            &:nth-child(3) {
                display: none;
            }
        }
    }

    .testimonials__arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;

        .arrows__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 14px;
            height: 71.5px;
            margin-top: 5rem;
        }
    }
}